:root {
    /*Primary*/
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins Italic';
    src: url('../assets/fonts/Poppins-Italic.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins BoldItalic';
    src: url('../assets/fonts/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins ExtraBold';
    src: url('../assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins ExtraBoldItalic';
    src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf');
}

body{
    font-family: 'Poppins Regular', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}
 
body, html {
    max-width: 100vw;
    background-color: var(--off-white);
}

.container {
    box-sizing: content-box;
    background-color: var(--white);
    height: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--light-grey);
}

.inputs label {
    display: block;
    font-family: 'Poppins ExtraBold';
    font-size: 12px;
    color: var(--smokey-grey);
    letter-spacing: 0.30em;
    margin-bottom: 7px;
}

input {
    width: 56px;
    padding: 10px 15px;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    font-family: 'Poppins ExtraBold';
    font-size: 18px;
}

button {
    box-sizing: border-box;
    background-color: var(--purple);
    border-radius: 35px;
    border: none;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    bottom: 25px;
}

button img {
    width: 20px;
    padding: 14px 15px;
}

#result {
    font-family: 'Poppins ExtraBoldItalic', sans-serif;
    font-size: 3em;
}

.output {
    color: var(--purple);
}

.age {
    margin-bottom: -0.25em;
}

.errorMessage {
    font-size: 11px;
    font-style: italic;
}

div.error label, .errorMessage {
    color: var(--light-red);
}

div.error input {
    border-color: var(--light-red);
}

button:hover {
    background-color: var(--off-black);
}

input:focus-visible {
    outline: none;
    border: 1px solid var(--purple);
}

@media (max-width: 749px) {
    .container {
        padding: 50px 30px 10px;
        border-radius: 27px 27px 90px 27px;
        max-width: 60vw;
    }
}

@media (min-width: 750px) {
    .container {
        max-width: 600px;
        padding: 40px 40px 10px;
        border-radius: 15px 15px 100px 15px;
    }
}